<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NorthMark Hospitals</title>
    
    <!-- font cdn link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <!--custom css file-->
    <link rel="stylesheet" href="/static/style/style.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
    <link rel="manifest" href="/static/images/site.webmanifest">
    
</head>
<body>

<!--Header section start-->

<header class="header">
    <div class="logo"><img src="/static/images/northmark.png" alt="img" class="img-thumbnail" width="50" ></div>

    <nav>
        <a href="http://127.0.0.1:3000">Home</a>
        <a href="{{url_for('doctors')}}">Doctors</a>
        <a href="{{url_for('login')}}">Login</a>
    </nav>

    <div class="menu-icons">
        <!--<div id="dashboard" class="fas fa-user"></div>-->
    </div>

</header>

        <div class="home">
            <div class="main-home">
                <div class="main-inner-home">
                    <h2>We Aim to Provide</h2>
                    <h1>The Best Medical Services</h1>
                    <p class="text">Welcome to NorthMark Hospitals, where compassionate care meets cutting-edge medicine. As a beacon of health and healing in our community, NorthMark Hospital has been dedicated to providing exceptional healthcare services for decades. Our commitment to excellence, unwavering patient-centered approach, and relentless pursuit of innovation have made us a trusted name in healthcare.</p>
                </div>
                <div class="main-inner-home">
                    <div class="right-content-img">
                        <img src="/static/images/doctor.png" alt="">
                    </div>
                </div>
            </div>
        </div>

<!--Header section end-->
</body>
</html>
<!--custom js file link-->
<script src="js/script.js"></script>


</body>
</html>












